	<!--begin::Javascript-->
		{% load static %}s

		<script>
			window.chartData = {
				years: {{ years|safe }},
				sales: {{ sales|safe }},
				

			};
		</script>
		<script>
			window.chartDataKT20 = {
				datedata: {{ chart_categories_kt20|safe }},
				salesvalue: {{ chart_data_kt20|safe }}
			};
		</script>

		</script>
		<!--begin::Global Javascript Bundle(mandatory for all pages)-->
		<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'js/scripts.bundle.js' %}"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::Vendors Javascript(used for this page only)-->
		<script src="assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
		<script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
		<!--end::Vendors Javascript-->
		<!--begin::Custom Javascript(used for this page only)-->
		<script src="{% static 'js/jswidget.js' %}"></script>
		<script src="{% static 'js/custom/widgets.js' %}"></script>
		<script src="{% static 'js/custom/apps/chat/chat.js' %}"></script>
		<script src="{% static 'js/custom/utilities/modals/users-search.js' %}"></script>
		<!--end::Custom Javascript-->
		<!--end::Javascript-->